/* Section Top */

.btn {
    display: inline-block;
    border: 0;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 900;
    font-family: "Montserrat";
    width: 240px;
    height: 56px;
    max-width: 100%;
    border-radius: 28px;
    filter: drop-shadow(0 0 10px #fd4441);
    background-color: #e52927;
    cursor: pointer;
    letter-spacing: .02em;
    box-shadow: 0px 0px 38px 0px rgba(212, 66, 50, 0.8);
    transition: all .5s;
}

.btn:hover {
    background: #b90300;
}

.btn:active {
    opacity: 0.8;
    transform: scale(.95);
}


/* end Section Top */


/* Section */

.section {
    padding: 110px 0;
}

.section__title {
    font-size: 48px;
    text-align: center;
    margin: 0 auto 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.section__header {
    margin-bottom: 70px;
}

@media (max-width: 425px) {
    .section {
        padding: 90px 0;
    }
}

.section__header {
    margin-bottom: 90px;
}


/* end Section */


/* Wrapper */

.wrapper {
    padding: 0 20px;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}


/* Wrapper */


/* Phone */

.phone__item {
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
    font-weight: 900;
    font-family: "Montserrat";
    text-align: center;
    text-decoration: none;
    border: 3px solid #ffffff;
    padding: 8px 16px;
    border-radius: 21.5px;
    transition: color .5s;
}

.phone__item:hover {
    background: #c4161c;
    transition: all .5s;
}

.phone__item:active {
    opacity: 0.8;
}


/* end Phone */


/* Mobile Menu */

.mobile__menu-btn {
    display: inline-block;
    background: none;
    border-radius: 0;
    cursor: pointer;
    padding: 15px;
    border: 0;
}

.mobile__menu-box {
    display: inline-block;
    width: 40px;
    height: 24px;
}

.mobile__menu-inner {
    position: relative;
    background: #fff;
    height: 4px;
    width: 100%;
    display: block;
    top: 50%;
}

.mobile__menu-inner::before,
.mobile__menu-inner::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    background: #fff;
    left: 0;
}

.mobile__menu-inner::after {
    top: -10px;
}

.mobile__menu-inner::before {
    bottom: -10px;
}


/* end Mobile Menu */


/* Socials */

.socials {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.socials__item {
    margin-right: 7px;
}

.socials__link {
    display: inline-block;
}

.socials__icon {
    fill: #C4161C;
    width: 35px;
    height: 35px;
    transition: fill .2s, opacity .2s;
}

.socials__icon:active {
    opacity: .7;
}

.socials__icon--inst:hover {
    fill: #D02485;
}

.socials__icon--fb:hover {
    fill: #129AF6;
}

.socials__logo {
    fill: #fff;
}


/* end Socials */


/* buttom-close */

.btn__close {
    position: relative;
    border: none;
    cursor: pointer;
    background: none;
    padding: 0;
    width: 50px;
    height: 50px;
    display: inline-block;
    transition: transform .2s, opacity .2s;
}

.btn__close:hover {
    transform: scale(1.1);
}

.btn__close:active {
    transform: scale(.9);
    opacity: .7;
}

.btn__close::before,
.btn__close::after {
    content: "";
    position: absolute;
    background: #d2d2d2;
    height: 40px;
    width: 3px;
    border-radius: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.btn__close::before {
    transform: translateY(-50%) rotate(45deg);
}

.btn__close::after {
    transform: translateY(-50%) rotate(-45deg);
}


/* end buttom-close */


/* mobile-menu-popup */

.menu__mobile {
    width: 100%;
}

.menu__mobile-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mobile-list__link {
    display: block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: inherit;
    font-weight: 900;
    text-decoration: none;
    padding: 20px 0;
    transition: background .2s, color .2s, opacity .2s;
}

.mobile-list__link:hover {
    background: #C4161C;
    color: #fff;
}

.mobile-list__link:active {
    opacity: .8;
}


/* end m-m-popup */


/* Media */

@media (max-width:768px) {
    .socials__item {
        margin-right: 15px;
    }
    .socials__icon {
        width: 45px;
        height: 45px;
    }
    .mobile-list__link {
        font-size: 20px;
    }
}

@media (max-width:425px) {
    .btn {
        font-size: 16px;
        line-height: 22px;
        width: 210px;
        height: 45px;
        filter: drop-shadow(0 0 4px #fd4441);
        box-shadow: 0px 0px 23px 0px rgba(212, 66, 50, 0.8);
    }
    .section {
        padding: 90px 0;
    }
}

@media (max-width:375px) {
    .btn {
        font-size: 13px;
        line-height: 16px;
        width: 190px;
        height: 38px;
        filter: drop-shadow(0 0 3px #fd4441);
        box-shadow: 0px 0px 16px 0px rgba(212, 66, 50, 0.8);
    }
}