.footer__page {
    background: linear-gradient(to top, #2b2b2b 0, #1f1f1f);
}

.wrapper {}

.footer__page-text {
    color: #ffffff;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
}